.home {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}